<?xml version="1.0"?>
<launch>

    <param name="/use_sim_time" value="false" />    <!-- Usamos tiempo real, no sim -->


    <!-- Control del coche  (TFG de Alba)-->
    <include file="$(find racecar)/launch/teleop.launch" />   


    <!-- Driver de la antena -->
    <node pkg="ublox_gps" type="ublox_gps" name="ublox_gps" output="screen" clear_params="true" respawn="true" respawn_delay="10">
        <rosparam command="load" file="$(find tfg_juan_serrano)/config/zed-f9p.yaml" />
    </node>


    <!-- Llama al cliente que recibe las correciones de la rap y le pasa los parametros correspondientes -->
    <include file="$(find tfg_juan_serrano)/launch/ntrip_rap.launch" />


    <!-- Launch del filtro de Kalman -->
    <include file="$(find tfg_juan_serrano)/launch/fusion_gps.launch">
        <arg name="wait_for_datum" value="false" /> </include>
    

    <!-- Paquetes de control de grabado y reproduccion de trayectoria -->
    <node pkg="tfg_juan_serrano" type="controlador_estados.py" name="director" output="screen" launch-prefix="xterm -e" />
    <node pkg="tfg_juan_serrano" type="grabador_trayectoria.py" name="notario" output="screen" />
    <node pkg="tfg_juan_serrano" type="seguidor_puntos.py" name="piloto" output="screen" />

</launch>