<?xml version="1.0"?>
<launch>

  <param name="/vesc/vesc_to_odom/base_frame" value="base_link"/>
  <param name="/use_sim_time" value="false" />

  <include file="$(find racecar)/launch/teleop.launch"/>	

  <node pkg="ublox_gps" type="ublox_gps" name="ublox_gps" output="screen" clear_params="true" respawn="true" respawn_delay="10">
    <rosparam command="load" file="$(find tfg_juan_serrano)/config/zed-f9p.yaml" />
    <param name="tmode3" value="0" />
  </node>

  <include file="$(find tfg_juan_serrano)/launch/ntrip_rap.launch" />

  <include file="$(find tfg_juan_serrano)/launch/fusion_gps.launch">
    <arg name="wait_for_datum" value="true" />
  </include>

  <node pkg="tfg_juan_serrano" type="controlador_estados.py" name="director" output="screen" launch-prefix="xterm -e">
    <remap from="/joy" to="/vesc/joy"/>
  </node>

  <node pkg="tfg_juan_serrano" type="grabador_trayectoria.py" name="notario" output="screen">
    <param name="lookahead_dist"   value="1.8" />
    <param name="v_velocidad"      value="1" />
    <param name="tam_ventana_yaw"  value="20" />
    <param name="dist_min_yaw"     value="0.25" />
  </node>

  <node pkg="tfg_juan_serrano" type="seguidor_puntos.py" name="piloto" output="screen" />

</launch>
