<?xml version="1.0"?>
<launch>
    <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_client" output="screen">
        
        <!-- Servidor y puerto -->
        <param name="ntrip_server" value="rap.juntadeandalucia.es:2102" />
        
        <param name="ntrip_user" value="juanserrano" />
        <param name="ntrip_pass" value="rap03003" />
        
        <!-- Punto de montaje, a que estación estamos conectados-->
        <param name="ntrip_stream" value="MLGA3" />
        
        <!-- Coordenada del robot -->
        <param name="nmea_gga" value="$GPGGA,%02d%02d%04.2f,3642.9366,N,042E.4516,W,1,08,1.0,50.0,M,50.0,M,,*66" />
        
        <!-- Topico donde se publican las correciones -->
        <param name="rtcm_topic" value="/ublox_gps/rtcm" />
    </node>
</launch>