<?xml version="1.0"?>
<launch>
    <param name="/use_sim_time" value="true" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find tfg_juan_serrano)/maps/circuito.yaml" output="screen" />
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />
    <include file="$(find racecar_gazebo)/launch/racecar.launch" />

    <include file="$(find tfg_juan_serrano)/launch/fusion_gps.launch">
        <arg name="wait_for_datum" value="false" />
    </include>
    
    <node pkg="tfg_juan_serrano" type="cmd_vel_to_ackermann.py" name="cmd_vel_to_ackermann" output="screen" />
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen" launch-prefix="xterm -e" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tfg_juan_serrano)/rviz/config_rviz_1.0.rviz" output="screen" />

    <node pkg="tfg_juan_serrano" type="controlador_estados.py" name="director" output="screen" launch-prefix="xterm -e" />
    <node pkg="tfg_juan_serrano" type="grabar_trayectoria.py" name="notario" output="screen" launch-prefix="xterm -e"/>
    <node pkg="tfg_juan_serrano" type="seguidor_puntos.py" name="piloto" output="screen" launch-prefix="xterm -e"/>

</launch>